
.backside {
    display: grid;
    width: 95%;
    margin: auto;
    padding: 4px;
    background-color: white;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 90%;
    margin: auto;
    background-color: #333;
    ul {
        list-style: none;
        padding: 4px;
        color: white;
        align-items: center;
        -webkit-box-shadow: 3px 3px 15px 0px #000000; 
        box-shadow: 3px 3px 15px 0px #000000;
        border-radius: 8px;
        margin: 4px;
        display: flex;
        gap: 0.3rem;
        width: 94%;
        font-size: 0.8rem;
        h4 {
            color: white;
            margin: 8px;
        }
    }
    .evolutioncontainer {
        display: grid;
        color: white;
        padding: 0.3rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        -webkit-box-shadow: 3px 3px 15px 0px #000000; 
        box-shadow: 3px 3px 15px 0px #000000;
        margin-bottom: 0.5rem;
        border-radius: 8px;
        p {
            margin: 0;
            color: white;
        }
    }
    .locationscontainer {
        p {
            color: white;
        }
    }
    .techniquecontainer {
        display: grid;
        color: white;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin-bottom: 4px;
        border: 1px solid #333;
        border-radius: 8px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .traitscontainer {
        display: grid;
        color: white;
        grid-template-columns: 1fr 1fr;
    }
    .typecontainer {
        
        .typescontainer {
            display: flex;
            color: white;
            grid-template-columns: 1fr 1fr;
            width: 80%;
            -webkit-box-shadow: 3px 3px 15px 0px #000000; 
            box-shadow: 3px 3px 15px 0px #000000;
            gap: 1rem;
            border-radius: 8px;
            margin: 0.5rem auto;
            b {
                text-align: center;
                margin: auto;
            }
            div {
                width: 40%;
                border: none;
                img {
                    width: 40%;
                }
            }
        }

    }
    
    .weaknesscontainer {
        color: white;
       .strongagainst {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        -webkit-box-shadow: 3px 3px 15px 0px #000000; 
        box-shadow: 3px 3px 15px 0px #000000;
        border-radius: 8px;
        img {
            width: 40%;
        }
       }
       .weakagainst {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        -webkit-box-shadow: 3px 3px 15px 0px #000000; 
        box-shadow: 3px 3px 15px 0px #000000;
        border-radius: 8px;
        img {
            width: 40%;
        }
       }
    }
}