
.backside {
    display: grid;
    width: 90%;
    margin: auto;
    padding: 4px;
    background-color: white;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    background-color: #2a2a2a;
    .portraitcontainer {
        width: 100%;
        display: grid;
        p {
            font-family: 1rem;
            font-size: 600;
            color: white;
            text-shadow: 1px 2px 2px #000, 0 -1px 2px #000, 0 1px 2px #000, -1px 2px 2px #000;
        }
        img {
            width: 50%;
        }
    }
    section {
        padding: 8px;
        color: white;

        border-radius: 8px;
        margin: 8px auto;
        display: grid;
        grid-template-columns: 40% 60%;
        width: 90%;
        text-shadow: 1px 2px 2px #000, 0 -1px 2px #000, 0 1px 2px #000, -1px 2px 2px #000;
        font-weight: 600;
        background-color: #1bd1d4;
        h2 {
            text-align: center;
            font-size: 0.9rem;
        }
        .statscontainer {
            margin: 2px;
            border-radius: 8px;
            padding: 8px;
            div {
                display: grid;
                grid-template-columns: 1fr 1fr;
                h3 {
                    color: white;
                    font-size: 0.9rem;
                }
            }
        }
    }
    @media screen and (max-width: 420px) {
        section {
            padding: 8px;
            color: white;
            margin: 0.3rem auto;
            display: grid;
            grid-template-columns: 30% 70%;
            width: 90%;
            font-weight: 600;
            background-color: #2a2a2a;
            h2 {
                text-align: center;
                font-size: 0.9rem;
            }
            .statscontainer {
                margin: 2px;
                div {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    h3 {
                        color: white;
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
    
    .evolutionHeader {
        h2{
            font-size: 1rem; 
            font-weight: 600;
        }
        div{
            display: grid;
            grid-template-columns: 0.5fr 1fr 0.5fr;
            
        }
        p{
            text-align: center;
        }
    }

    .evolutioncontainer {
        display: grid;
        color: white;
        padding: 4px;
        grid-template-columns: 0.5fr 1fr 1fr;
        gap: 4px;
        -webkit-box-shadow: 3px 3px 15px 0px #000000; 
        box-shadow: 3px 3px 15px 0px #000000;
        margin-bottom: 0.5rem;
        border-radius: 4px;
        background-color: #1bd1d4;
        text-align: left;
        p {
            margin: 4px;
            color: white;
            color: #fff;
            text-shadow: 1px 2px 2px #000, 0 -1px 2px #000, 0 1px 2px #000, -1px 2px 2px #000;
            font-weight: 600;
        }
        b {
            text-shadow: 1px 2px 2px #000, 0 -1px 2px #000, 0 1px 2px #000, -1px 2px 2px #000;
            font-weight: 600;
        }
        @media screen and (max-width: 420px) {
            display: grid;
            color: white;
            grid-template-columns: 0.5fr 1fr 0.5fr;
            justify-content: center;
            align-items: left;
            gap: 8px;
            -webkit-box-shadow: 3px 3px 15px 0px #000000; 
            box-shadow: 3px 3px 15px 0px #000000;
            margin-bottom: 0.5rem;
            border-radius: 4px;
            background-color: #1bd1d4;
        }
    }
    .locationscontainer {
        p {
            color: white;
            text-shadow: 1px 2px 2px #000, 0 -1px 2px #000, 0 1px 2px #000, -1px 2px 2px #000;
            font-weight: 600;
        }
    }
    .techniquecontainer {
        display: grid;
        color: white;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin-bottom: 4px;
        border: 1px solid #333;
        border-radius: 4px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .traitscontainer {
        display: grid;
        color: white;
        grid-template-columns: 1fr 1fr;
    }
    .typecontainer {
        width: 80%;
        margin: auto;
        .typescontainer {
            display: flex;
            color: white;
            grid-template-columns: 1fr 1fr;
            width: 90%;
            -webkit-box-shadow: 3px 3px 15px 0px #000000; 
            box-shadow: 3px 3px 15px 0px #000000;
            gap: 1rem;
            border-radius: 4px;
            background-color: #1bd1d4;
            margin: 0.3rem auto;
            b {
                text-align: center;
                margin: auto;
                text-shadow: 1px 2px 2px #000, 0 -1px 2px #000, 0 1px 2px #000, -1px 2px 2px #000;
                font-weight: 600;
                font-size: 1.1rem;
            }
            div {
                width: 30%;
                border: none;
                display: grid;
                grid-template-columns: 1fr 1fr;
                img {
                    width: 100%;
                }
            }
        }

    }
    
    .weaknesscontainer {
        color: white;
       .againstcontainer {
        display: grid;
        background-color: #2a2a2a;
        border-radius: 4px;
        margin: auto;
        width: 90%;
        border: none;
        .strongagainst {
            -webkit-box-shadow: 3px 3px 15px 0px #000000; 
            box-shadow: 3px 3px 15px 0px #000000;
            border-radius: 4px;
            background-color: #1bd1d4;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 90%;
            .strongtext {
             color: limegreen;
             text-shadow: 1px 2px 2px #000, 0 -1px 2px #000, 0 1px 2px #000, -1px 2px 2px #000;
             font-weight: 600;
             font-size: 1rem;
            }
         img {
             width: 30px;
             height: 30px;
         }
        }
        .weakagainst {
            -webkit-box-shadow: 3px 3px 15px 0px #000000; 
            box-shadow: 3px 3px 15px 0px #000000;
            border-radius: 4px;
            background-color: #1bd1d4;
            width: 90%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            .weaktext {
             color: tomato;
             text-shadow: 1px 2px 2px #000, 0 -1px 2px #000, 0 1px 2px #000, -1px 2px 2px #000;
             font-weight: 600;
             font-size: 1rem;
            }
         img {
             width: 30px;
             height: 30px;
         }
        }
       }
      
    }
}
